<ion-view title="Contact Us" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5zfTjiN0R8Owe4RMKmTA_Newable_Pictogram_Navy_ARROWS.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="contactUs-heading5" style="color: rgb(5, 4, 5); text-align: center;">ARROWS ™</h2>
    <ion-list id="contactUs-list2">
      <ion-item class="item-avatar" id="contactUs-list-item4" href="tel:" style="">
        <img src="img/O6QTTgzSsQA0RC8orVQQ_IMG-20180303-WA00061.jpg">
        <h2>Nandini Menon</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item6" href="mailto:9" style="">
        <img src="img/8jbNCZxeSLCWJadZoF1E_IMG-20180303-WA00081.jpg">
        <h2>Leo Varghese</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item5" href="tel:8281418542" style="">
        <img src="img/LDBtYmNSxmLuHaOMymW5_IMG-20180303-WA00051.jpg">
        <h2>Prasanth PM</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item7" href="tel:9447307434" style="">
        <img src="img/pEDipvetSea49Ks0WSTh_IMG-20180303-WA00091.jpg">
        <h2>Kevin Jose</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item8" href="tel:9496995456" style="">
        <img src="img/CG5jmibxQpuPTSEBKejk_IMG-20180303-WA00111.jpg">
        <h2>Sneha Anna Joshy</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item9" href="tel:9496591656" style="">
        <img src="img/Ndjr9hq2RkKPo3pO5t89_IMG-20180303-WA00071.jpg">
        <h2>Teena John</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item10" href="tel:9744305568" style="">
        <img src="img/W9nIHfj9QyqkRXzXRJ9j_IMG-20180303-WA00101.jpg">
        <h2>Sreelakshmi Pradeep</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contactUs-list-item11" href="tel:8281783351" style="">
        <img src="img/7bxVQjtiTZuXPwzopdAi_IMG-20180303-WA00041.jpg">
        <h2>Judith Joseph</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>