<ion-view title="Home" id="page1" style="">
  <ion-content padding="true" style="background: url(img/8bMtPKmTToCoc2m0847w_wall.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="home-heading1" style="color: rgb(225, 255, 13); font-weight: 300;">OVERVIEW</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="home-slide24" style="background:url(&quot;img/5xtjZ8WJTUGps8KZsfyo_dreamstime_xxl_14222712-Small.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide25" style="background:url(&quot;img/SYsavBRRHysANHd8CC1v_crisis-management-framework.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide26" style="background:url(&quot;img/b6m66kInSzCLfV6QUrps_time.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h3 id="home-heading2" style="color: rgb(250, 252, 11); font-weight: 300;">EXCERCISES FOR YOU</h3>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.psychologytoday.com/tests/career/time-management-skills-test">
        <img src="img/JMjYXLq9RA2X6mMerWkQ_xtime_management_survey.jpg.pagespeed.ic.ZymshCWjqC.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="https://study.com/academy/exam/topic/crisis-management-in-public-relations.html">
        <img src="img/Kl9TeM3rROCuwAF4nWL5_Managing-a-crisis-sidebar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.cambridgeenglish.org/in/test-your-english/adult-learners/">
        <img src="img/J09mkTfjTYKF5pozeQww_Do-You-Speak-English.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>