<ion-view title="Learning" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/9sFi8xd8Qknv2sODIlhr_learning-from-mistakes-8-638.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="learning-form1" class="list">
      <ion-checkbox id="learning-checkbox1" style="">Communication Skills</ion-checkbox>
      <ion-checkbox id="learning-checkbox11" name="Patience" style="">Patience</ion-checkbox>
      <ion-checkbox id="learning-checkbox2" style="">Loyality</ion-checkbox>
      <ion-checkbox id="learning-checkbox3" style="">Positive attitude</ion-checkbox>
      <ion-checkbox id="learning-checkbox4" style="">Crisis Management</ion-checkbox>
      <ion-checkbox id="learning-checkbox5" style="">Time Management</ion-checkbox>
      <ion-checkbox id="learning-checkbox7" style="">Smartness</ion-checkbox>
      <ion-checkbox id="learning-checkbox8" style="">Appearence</ion-checkbox>
      <ion-checkbox id="learning-checkbox10" style="">Decision Making</ion-checkbox>
      <ion-checkbox id="learning-checkbox9" style="">Manners /Ettquette</ion-checkbox>
    </form>
  </ion-content>
</ion-view>